@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body{
    background-color: rgba(16, 98, 186, 0.287);
}
body{
    text-align: center;
    font-size: 22px;
    
}
.item{
    display: flex;
    width: 100px;
    height: 350px;
}


